@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-grey-2;
  }

  body {
    @apply font-roboto text-primary-1;
  }
}

@layer utilities {
  .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-medium !leading-snug;
  }
  .h2 {
    @apply text-3xl md:text-4xl lg:text-[40px] font-medium !leading-snug;
  }
  .h3 {
    @apply text-[21px] font-medium leading-tight;
  }
  .h4 {
    @apply text-[19px] font-medium;
  }

  .p1 {
    @apply text-[17px];
  }
  .p2 {
    @apply text-[16px];
  }
  .p3 {
    @apply text-[15px];
  }

  .padding-t {
    @apply pt-24;
  }

  .padding-b {
    @apply pb-24;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
